### DATABASE ###
DB_URI="mongodb://admin:admin@mongodb:27017/statistix?authSource=admin"
MONGO_ROOT_USER="admin"
MONGO_ROOT_PASSWORD="admin"
MONGOEXPRESS_LOGIN="admin"
MONGOEXPRESS_PASSWORD="admin"

### i18n ###
LANGUAGE="EN"

### SECURITY ###
ENCRYPT_SECRET="encrypt-secret"
HASH_SECRET="hash-secret"
JWT_EXPIRES_REFRESH="30d"
JWT_SECRET_REFRESH="jwt-refresh"
JWT_EXPIRES_ACCESS="15m"
JWT_SECRET_ACCESS="jwt-access"
REGISTRATION_ENABLED="false"

### FILE MANAGMENT ###
S3_URI="http://minio:9000"
S3_ACCESS_KEY_ID="admin"
S3_SECRET_ACCESS_KEY="admin_secret"
S3_REGION="ru-central-1"
FILE_SIZE_LIMIT="500"