# USE THIS ONLY FOR DEV-MODE

services:
  mongodb:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    ports:
      - "27017:27017"
  
  mongo-express:
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
      - ME_CONFIG_MONGODB_AUTH_USERNAME=${MONGO_ROOT_USER}
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=${MONGO_ROOT_PASSWORD}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
    depends_on:
      - mongodb
    ports:
      - "8888:8081"

  service-authentification:
    build:
      context: ./services/service_authentification
      dockerfile: Dockerfile.dev
    depends_on:
      - mongodb
    volumes:
      - ./services/service_authentification:/usr/src/auth
      - /usr/src/auth/node_modules
    env_file:
      - ./.env
    command: npm run start:dev
  
  api-gateway:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./infrastructure-services/nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - service-authentification

volumes:
  mongo-data: